{{ range .items }}
<h2>{{ .Title }}</h2>
<div>Description: {{ .Description }}</div>
<a href="{{ .Link }}">{{ .Link }}</a>
<p class="d-inline-flex gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ .Id }}" aria-expanded="false" aria-controls="collapse{{ .Id }}">
    Extensions
  </button>
</p>
<div class="collapse" id="collapse{{ .Id }}">
  <div class="card card-body">Extensions: <pre>{{ .Extensions }}</pre></div>
</div>
{{ end }}
